{%loas static %}
{%include 'main.html'%}
{%block content%}
<form action="" method="POST">
    {% csrf_token %}
    <input type="username" name="username" placeholder="USER NAME"><br>
    <input type="email" name="username" placeholder="USER NAME"><br>
    <input type="fname" name="fname" placeholder="USER NAME"><br>
    <input type="lname" name="lname" placeholder="USER NAME"><br>
    <input type="password" name="password1" placeholder="PASS WORD"><br>
    <input type="password" name="password2" placeholder=" CONFIRM PASS WORD"><br>
    <input type="submit" value="SIGNUP">
</form>
</form>
{%endblock%}