.box
{
 border:5px;
 background-color:rgb(19, 204, 121);
 text-align: center;
 font-size: larger;
 font-family: Arial, Helvetica, sans-serif;
 height:350px;

 width: 1400px;
 border-radius: 15px;
 display: grid;
 place-items: center;
}

.pic
{
 align-content: fixed;
 height: 1000px;
 width: 1000;
}
.over
{
 align-content: center;
 border:5px;
 height:20%;
 background-color: rgb(43, 45, 56);
 height: 720px;
 width: 1420px;
 margin: auto;
 border: 3px solid rgb(2, 40, 32);
  padding: 10px;
  border-radius: 20px;
  vertical-align: middle;
}
.body
{
 background-color: rgb(229, 151, 176);
}
.box:hover
{
 background-color:rgb(10, 125, 77);
}
.container
{
  background-color:aquamarine;
}

.image
{
  width:350px;
  height: 250px;;
}
.nav-bar
{
height: 30px;
width: fixed;
background-color:rgb(21, 228, 186);
}
.nav_box
{
 
}
.btn-admin
{
  background-color:rgb(153, 225, 214);
 color:rgb(5, 2, 0);
 height:30px;
 width: 150px;
 border-width: 5px;
 border-color: rgb(138, 244, 209);
 border-radius: 2px;

}