{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css'%} "> 
    <title>Admin</title>
</head>
<body class="body">
    <div class="nav-bar">
        <ul>
        <button class="btn-admin" id="mytask">MY TASK</button>
        <button class="btn-admin" id="approval">APPROVAL</button>
        <button class="btn-admin" id="status">STATUS</button>
        </ul>
    </div>
</body>
</html> 
<script src="{% static 'index.js' %}">
</script>